QDRANT_URL=http://localhost:6333
EMBED_MODEL=BAAI/bge-small-en-v1.5
LANGFUSE_SECRET_KEY="sk-lf-9aabd888-9709-4327-bb80-b1415ca3bf1e"
LANGFUSE_PUBLIC_KEY="pk-lf-bf626a94-6a94-4e62-8ce0-3180d80d6312"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile